<header class="w-full fixed p-6 flex justify-between z-20">
  <div class="w-[188px]">
    <img class="logo" src="/assets/logo.svg" alt="Yaroslav Boiko's main logo" />
  </div>
  <!-- <nav className={styles.navbar}>
    {
      HEADER_ROUTES.map((link, i) => (
        <a className={styles.navlink} href={link.location} key={link.text}>
          <b>{`0${i + 1}`}</b>
          {link.text}
        </a>
      ))
    }
  </nav> -->
  <button
    class="px-8 py-3 uppercase flex items-center text-white border-2 border-blue bg-inner"
    >download cv</button
  >
</header>

<style>
  .logo {
    width: 52px;
  }
</style>
